.FestivalContentBar {
    background-color: #e8f000;
    background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
    /* TODO: Download the pattern*/
    margin-bottom: 9px;
    padding: 7vw;
        h3 {
        font-family: 'Permanent Marker';  
        font-size: 40px; 
        color: #c42128;
        text-align: center;
        transform: rotate(-10deg);
        padding-bottom: 100px;
    }

    .grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% 50%;
        column-gap: 30px;
        row-gap: 40px;
        @media (max-width: 800px) {
            grid-template-columns: 100%;
        }
    }

    .element {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        color: #0000d4;
    }

    .icon {
        height: 80px;
    }

    .text {
        text-align: center;
        font-size: 100%;
    }
}