.Cosplay {
  margin-bottom: 9px;
  .content-wrapper {
    background-color: #e8f000;
    background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
    /* TODO: Download the pattern*/
    margin-bottom: 9px;
    padding: 7vw;
  }
}
