.Guest {
    margin-bottom: 9px;
    background-color: #0000d4;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    padding: 60px 20px;
    
}