.Contact {
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-bottom: solid 9px white;
}

.title {
    transform: rotate(-10deg);
    font-family: 'Permanent Marker';
    font-size: 2.5em;
    margin: 10px 40px 40px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
}

.info {
    font-family: 'Montserrat';
    line-height: 25px;
    width: 350px;
    display: flex;
    flex-direction: column;
    img {
        width: fit-content;
    }
    .social-media {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
    }
}
