.Footer {
    height: 100px;
    padding: 20px;  
    background-color: #9c9400;
    background-image: url("https://www.transparenttextures.com/patterns/dust.png");
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    text-align: center;

    p {
        margin-bottom: 0;
    }
}
