*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('http://serienett.no/wp-content/uploads/2019/09/Raptus-2019-startbilde-611x334.jpg');
	text-align: center;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
    overflow: hidden;
    border-bottom: solid 9px white;
}
header .overlay{
	width: 100%;
	min-height: 450px;
	height: 100%;
	padding: 10px 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-color: rgba(0, 0, 0, 0.4);
	
}
.Header {
	h1 {
		font-family: 'Dancing Script', cursive;
		font-size: 80px;
		margin-bottom: 30px;
	}
	
	h3, p {
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 30px;
	}
	
	button {
		border: none;
		outline: none;
		padding: 10px 20px;
		border-radius: 50px;
		color: #333;
		background: #fff;
		margin-bottom: 50px;
		box-shadow: 0 3px 20px 0 #0000003b;
	}
	button:hover{
		cursor: pointer;
	}
}

.logo {
	width: 80%;
	max-width: 800px;
	margin-bottom: 15px;
}
