.Navbar {
    background-color: #1c1b1b;
    background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-column-gap: 9px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 9px;
    a {
        color:white;
    }
}
