.Navbar {
    background-color: #c42128;
    background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 9px;
    a {
        color:white;
    }
}
