.PageHeader {
    header {
        background-color: #0000d4;
        background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        padding: 60px 20px;
        margin-bottom: 9px;
         h1 {
            font-family: 'Permanent Marker';   
            color: white;
            font-size: 10vw;
            text-align: center;
            transform: rotate(-10deg);
            @media (max-width: 800px) {
                font-size: 12vw;
            }
         }
         h4 {
            font-family: 'Permanent Marker';  
            font-size: 6vw; 
            color: #c42128;
            text-align: center;
            transform: rotate(-10deg);
            @media (max-width: 800px) {
                font-size: 9vw;
            }
         }
         h4:after {
            display: inline-block;
            margin: 0 0 8px 20px;
            height: 3px;
            content: " ";
            text-shadow: none;
            background-color: white;
            width: 80px;
        }
        h4:before {
            display: inline-block;
            margin: 0 20px 8px 0;
            height: 3px;
            content: " ";
            text-shadow: none;
            background-color: white;
            width: 80px;
        }
    }
}