.Person {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    
    .name {
        color: white;
        position: absolute;
        font-size: 20px;
        font-family: 'Rowdies';
        bottom: 30px;
        @media (max-width: 800px) {
            font-size: 16px;
            bottom: 15px;
        }
    }
    
    .profession {
        color: white; 
        position: absolute;
        bottom: 0px;
        font-size: 18px;
        @media (max-width: 800px) {
            font-size: 14px;
        }
    }

    .color-tint {
        position: absolute;
        background-color: rgba(0, 29, 89, 0.4);
        width: 100%;
        height: 100%;
    }
}
