.Starring-Bar {
    background-color: white;
    border-bottom: solid white 9px;
    display: flex;
    
    .guests-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-column-gap: 9px;
        @media (max-width: 800px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 9px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .starring-cloud {
        position: relative;
        left: 15%;
        top: -160px;
        transform: rotate(-10deg);
        z-index: 1;
        @media (max-width: 800px) {
            top: -105px;
            left: 8%;
        }
        p {
            font-size: 30px;
            color: #0036a6;
            font-family: 'Permanent Marker';
            position: absolute;
            left: 35px;
            top: 140px;
            z-index: 1;
            @media (max-width: 800px) {
                font-size: 19px;
                left: 20px;
                top: 85px;
            }
        }
    }

    svg {
        position: absolute;
        height: 220px;
        width: 220px;
        @media (max-width: 800px) {
            height: 130px;
            width: 130px;
        }
    }

    path {
    fill: white;
    stroke: black;
    stroke-width: 2;
    stroke-linejoin: round;
    }
}
