.Starring-Bar {
    background-color: white;
    border-bottom: solid white 9px;
    display: flex;
    position: relative;
    
    .guests-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100%;
        grid-column-gap: 9px;
        @media (max-width: 800px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 9px;
        }
    }

    .view-all-guests {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .starring-cloud {
        position: absolute;
        width: 18vw;
        max-width: 190px;
        left: 15vw;
        z-index: 1;
        top: -80px;
        @media (max-width: 800px) {
            width: 30vw;
            left: 35vw;
            top: -40px;
        }
    }
}
