.PageHeader {
  background-color: #0000d4;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 60px 20px;
  margin-bottom: 9px;
  h1 {
    font-family: "Permanent Marker";
    color: white;
    font-size: 10vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    transform: rotate(-10deg);
    @media (max-width: 800px) {
      font-size: 12vw;
    }
  }
  .pre-title {
    font-size: 6vw;
    color: #c42128;
    @media (max-width: 800px) {
      font-size: 9vw;
    }

    &:after,
    &:before {
      display: inline-block;
      content: " ";
      text-shadow: none;
      background-color: white;
      width: 13vw;
      height: 3px;
    }
    &:after {
      margin: 0 0 8px 20px;
    }

    &:before {
      margin: 0 20px 8px 0;
    }
  }
}
